{% load static %}
<li>
    <article class="post">
        <a href="">
            <img src="{% static "blog/images/mountains.jpg" %}" alt="Cv_proj_1"/>
            <div class="post__content">
                <h3>Computer Vision Proj 1</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe sapiente, ducimus illo excepturi incidunt impedit cumque tenetur hic amet distinctio quasi ratione corrupti commodi suscipit. Tempore quidem consectetur vel beatae?</p>
            </div>
        </a>
    </article>
</li>